<div class="icon-block" name="backup">
  <h4 class="center brown-text">Backup{{#backups.method_name}}: {{backups.method_name}}{{/backups.method_name}}</h4>
  <p class="light">

    <div id="backup-form-container">
      {{#backups.method.add}}
          {{> backup-form}}
      {{/backups.method.add}}
    </div>

    {{^backups.method_name}}
        <p class="light">
          <a href="#mode=backup;method=add" class="pluton-menu-item pluton-backup-add btn">
            Add Backup
          </a>
        </p>

        <hr/>

        {{#backups.names}}
            <a href="#mode=backup;method=edit;id={{id}}" class="btn" style="text-transform:none;">{{name}}</a>
        {{/backups.names}}
    {{/backups.method_name}}
  </p>
</div>
