<form action="#" method="post" id="backup-form">
  <div>
    <label>Name:</label>
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="name" placeholder="(Max 80)" value="{{name}}"/>
  </div>

  <div>
    <label>Schedule:</label>
    <select name="schedule" class="browser-default">
      {{#schedules.names}}
      <option value="{{id}}" {{#selected}}selected="selected" {{/selected}}>{{name}}</option>
      {{/schedules.names}}
    </select>
  </div>

  <div>
    <label>Backups to Keep:</label>
    <input type="text" name="keep" placeholder="(Min 0 Max 100)" value="{{keep}}"/>
  </div>

  <div>
    <label>System User:</label>
    <select name="system_user" class="browser-default">
      {{#system_users.users}}
      <option value="{{id}}" {{#selected}}selected="selected" {{/selected}}>{{username}}</option>
      {{/system_users.users}}
    </select>
  </div>

  <div>
    <label>Destination:</label>
    <div id="backup-form-mounts">
      {{> backup-form-mounts}}
    </div>
  </div>

  <div>
    <label>Folders:</label>
    <div id="folders-container"></div>
  </div>

  <input type="submit" value="Save" class="btn"/>
  {{#id}}
  <a href="#" class="pluton-menu-item pluton-backup-now btn" id="backup-now">
    Run Now
  </a>
  {{/id}}
  <a href="#mode=backup" class="pluton-menu-item pluton-backup btn">
    Cancel
  </a>
</form>
