<div class="icon-block">
  <h2 class="center brown-text">Login Here</h2>
  <p class="light">
  <form action="#" method="post" id="login-form">
    <div class="email">
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
      <input type="text" name="email" class="user" placeholder="Username (Email)"/>
    </div>

    <div class="pw">
      <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
      <input type="password" name="password" class="pw" placeholder="Password"/>
    </div>

    <input type="submit" value="Login | Register"/>
  </form>
  </p>
</div>
