<div class="icon-block">
  <!--<h2 class="center brown-text">Login Here</h2>-->
  <p class="light">
  <form action="#" method="post" id="login-form">
    <div class="email">
      <input type="text" name="email" class="user" placeholder="Username"/>
    </div>

    <div class="pw">
      <input type="password" name="password" class="pw" placeholder="Password"/>
    </div>

    <input type="submit" value="Login" class="btn" style="float:right;"/>

    <div class="remember">
      <input type="checkbox" name="remember" class="remember" id="login-remember" value="1"/>
      <label for="login-remember">Remember me.</label>
    </div>

  </form>
  </p>
</div>
