<div class="icon-block">
  <h2 class="center brown-text"><i class="material-icons">Menu</i></h2>
  <p class="light">
    <a href="#mode=home" class="pying-menu-item pying-logout">
      Logout
    </a>
  </p>
</div>
