<div class="icon-block">
  <h4 class="center brown-text"><i class="material-icons">Menu</i></h4>
  <p class="light">
    <a href="#mode=system_user" class="pluton-menu-item pluton-system_user">
      System Users
    </a>
  </p>
  <p class="light">
    <a href="#mode=schedule" class="pluton-menu-item pluton-schedule">
      Schedules
    </a>
  </p>
  <p class="light">
    <a href="#mode=backup" class="pluton-menu-item pluton-backup">
      Backups
    </a>
  </p>
  <p class="light">
    <a href="#mode=home" class="pluton-menu-item pluton-logout">
      Logout
    </a>
  </p>
</div>
