<form action="#" method="post" id="schedule-form">
  <div>
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="name" placeholder="Name (Max 80)" value="{{name}}"/>
  </div>

  <p class="light">
    The fields are expected to be valid cron expressions.
  </p>

  <table class="schedule">
    <tr>
      <th>Minute</th>
      <th>Hour</th>
      <th>Day of Month</th>
      <th>Month</th>
      <th>Day of Week</th>
    </tr>

    <tr>
      <td><input type="text" name="minute" placeholder="*" value="{{minute}}"/></td>
      <td><input type="text" name="hour" placeholder="*" value="{{hour}}"/></td>
      <td><input type="text" name="day_of_month" placeholder="*" value="{{day_of_month}}"/></td>
      <td><input type="text" name="month" placeholder="*" value="{{month}}"/></td>
      <td><input type="text" name="day_of_week" placeholder="*" value="{{day_of_week}}"/></td>
    </tr>
  </table>

  <input type="submit" value="Save" class="btn"/>
  <a href="#mode=schedule" class="pluton-menu-item pluton-schedule btn">
    Cancel
  </a>
</form>
