<a href="#mode=system_user;method=mount-add;user={{params.user}}" class="pluton-menu-item pluton-system_user-mount-add btn">
  Add Mount Location
</a>
<a href="#mode=system_user;method=s3ql;user={{params.user}}" class="btn" style="text-transform:none;">Advanced</a>

<hr/>

{{#system_users.mounts}}
<a href="#mode=system_user;method=mount-edit;mid={{id}};user={{params.user}}" class="btn" style="text-transform:none;">{{name}}</a>
{{/system_users.mounts}}
