<tr><th>Bucket:</th><td>{{bucket}}</td></tr>
<tr><th>Prefix:</th><td>{{prefix}}</td></tr>
<tr><th>Account ID:</th><td>{{backend_login}}</td></tr>
<tr><th>Application Key:</th><td>{{backend_password}}</td></tr>
<tr><th>High Entropy:</th><td>{{fs_passphrase}}</td></tr>
