<tr>
  <th>Bucket Name:</th><td>{{bucketname}}</td>
</tr>
<tr>
  <th>Prefix:</th><td>{{prefix}}</td>
</tr>
<tr>
  <th>Access Key:</th><td>{{backend_login}}</td>
</tr>
<tr>
  <th>Access Secret:</th><td>{{backend_password}}</td>
</tr>
<tr>
  <th>Filesystem Passphrase:</th><td>{{fs_passphrase}}</td>
</tr>
