<div>
  <!-- s3://<region>/<bucket>/<prefix> -->
  <!--
      prefix can be an arbitrary prefix that will be prepended to all object names used by S3QL.
      This allows you to store several S3QL file systems in the same S3 bucket. For example, the storage URL

      s3://ap-south-1/foomart.net/data/s3ql_backup/
      refers to the foomart.net bucket in the ap-south-1 region. All storage objects that S3QL stores in this bucket will be prefixed with data/s3ql_backup/.
  -->
  <input type="hidden" name="storage-url" value="{{storage_url}}"/>
  <label>Region:</label>
  <input type="text" name="region" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{region}}"/>
  <label>Bucket:</label>
  <input type="text" name="bucket" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{bucket}}"/>
  <label>Prefix:</label>
  <input type="text" name="prefix" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{prefix}}"/>
</div>

<div>
  <!--
      Note that the backend login and password for accessing S3 are not the user id and password that you use to log into the Amazon Webpage,
      but the AWS access key id and AWS secret access key shown under 
  -->
  <label>AWS Access Key ID:</label>
  <input type="text" name="backend-login" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_login}}"/>
</div>

<div>
  <label>AWS Secret Access Key:</label>
  <input type="text" name="backend-password" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_password}}"/>
</div>

<div>
  <label>Filesystem Passphrase:</label>
  <input type="text" name="fs-passphrase" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{fs_passphrase}}"/>
</div>
