<div>
  <input type="hidden" name="storage-url" value="{{storage_url}}"/>
  <label>Bucket:</label>
  <input type="text" name="bucket" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{bucket}}"/>
  <label>Prefix:</label>
  <input type="text" name="prefix" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{prefix}}"/>
</div>

<div>
  <label>Account ID:</label>
  <input type="text" name="backend-login" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_login}}"/>
</div>

<div>
  <label>Application Key:</label>
  <input type="text" name="backend-password" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_password}}"/>
</div>

<div>
  <label>High Entropy:</label>
  <input type="text" name="fs-passphrase" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{fs_passphrase}}"/>
</div>
