<tr>
  <th>Storage URL:</th><td>{{storage_url}}</td>
</tr>
<tr>
  <th>Backend Login:</th><td>{{backend_login}}</td>
</tr>
<tr>
  <th>Backend Password:</th><td>{{backend_passwordl}}</td>
</tr>
<tr>
  <th>Filesystem Passphrase:</th><td>{{fs_passphrase}}</td>
</tr>
