<form action="#" method="post" id="system_user-add-form">
  <div>
    <input type="text" name="username" placeholder="Username (Max 32, Alphanumeric)" autocomplete="off"/>
  </div>
  
  <div>
    <input type="password" name="password" placeholder="Password (Min 1, Max 70)" autocomplete="off"/>
  </div>

  <input type="submit" value="Add" class="btn"/>
  <a href="#mode=system_user" class="pluton-menu-item pluton-system_user btn">
    Cancel
  </a>
</form>
