<div>
  <!--
      rackspace://<region>/<container>[/<prefix>]
  -->
  <input type="hidden" name="storage-url" value="{{storage_url}}"/>
  <label>Region:</label>
  <input type="text" name="region" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{region}}"/>
  <label>Container:</label>
  <input type="text" name="container" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{container}}"/>
  <label>Prefix:</label>
  <input type="text" name="prefix" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{prefix}}"/>
</div>

<div>
  <!--<label>Backend Login:</label>-->
  <input type="hidden" name="backend-login" value="{{backend_login}}"/>
  <label>Tenant:</label>
  <input type="text" name="tenant" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{tenant}}"/>
  <label>Username:</label>
  <input type="text" name="username" placeholder="Username (Max 32, Alphanumeric)" autocomplete="off" value="{{username}}"/>
</div>

<div>
  <!--<label>Backend Password:</label>-->
  <label>Keystone Password:</label>
  <input type="text" name="backend-password" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_password}}"/>
</div>

<div>
  <label>Filesystem Passphrase:</label>
  <input type="text" name="fs-passphrase" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{fs_passphrase}}"/>
</div>
