<tr>
  <th>Region:</th><td>{{region}}</td>
</tr>
<tr>
  <th>Bucket:</th><td>{{bucket}}</td>
</tr>
<tr>
  <th>Prefix:</th><td>{{prefix}}</td>
</tr>
<tr>
  <th>AWS Access Key ID:</th><td>{{backend_login}}</td>
</tr>
<tr>
  <th>AWS Secret Access Key:</th><td>{{backend_password}}</td>
</tr>
<tr>
  <th>Filesystem Passphrase:</th><td>{{fs_passphrase}}</td>
</tr>
