<div>
  <label>Filesystem Passphrase:</label>
  <input type="text" name="fs-passphrase" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{fs_passphrase}}"/>
</div>

<div>
  <label>Storage Folder:</label>
  <input type="hidden" name="storage-url" value="{{storage_url}}"/>
  <div id="folders-container"></div>
</div>
