<div>
  <label>Storage URL:</label>
  <input type="text" name="storage-url" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{storage_url}}"/>
</div>

<div>
  <label>Backend Login:</label>
  <input type="text" name="backend-login" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_login}}"/>
</div>

<div>
  <label>Backend Password:</label>
  <input type="text" name="backend-password" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{backend_passwordl}}"/>
</div>

<div>
  <label>Filesystem Passphrase:</label>
  <input type="text" name="fs-passphrase" placeholder="(Max 32, Alphanumeric)" autocomplete="off" value="{{fs_passphrase}}"/>
</div>
