<tr>
  <td colspan="2">

    <div>
      <b>Bucket Name:</b>
      <pre>{{bucketname}}</pre>
    </div>

    <div>
      <b>Prefix:</b>
      <pre>{{prefix}}</pre>
    </div>

    <div>
      <b>Access Key:</b>
      <pre>{{backend_login}}</pre>
    </div>

    <div>
      <b>Access Secret:</b>
      <pre>{{backend_password}}</pre>
    </div>

    <div>
      <b>Filesystem Passphrase:</b>
      <pre>{{fs_passphrase}}</pre>
    </div>

  </td>
</tr>
