<tr>
  <th>Hostname:</th><td>{{hostname}}</td>
</tr>
<tr>
  <th>Port:</th><td>{{port}}</td>
</tr>
<tr>
  <th>Bucket Name:</th><td>{{bucketname}}</td>
</tr>
<tr>
  <th>Prefix:</th><td>{{prefix}}</td>
</tr>
<tr>
  <th>AWS Access Key ID:</th><td>{{backend_login}}</td>
</tr>
<tr>
  <th>AWS Secret Access Key:</th><td>{{backend_password}}</td>
</tr>
<tr>
  <th>Filesystem Passphrase:</th><td>{{fs_passphrase}}</td>
</tr>
