<tr><th>Hostname:</th><td>{{hostname}}</td></tr>
<tr><th>Port:</th><td>{{port}}</td></tr>
<tr><th>Region:</th><td>{{region}}</td></tr>
<tr><th>Container:</th><td>{{container}}</td></tr>
<tr><th>Prefix:</th><td>{{prefix}}</td></tr>
<tr><th>Tenant:</th><td>{{tenant}}</td></tr>
<tr><th>Username:</th><td>{{username}}</td></tr>
<tr><th>Keystone Password:</th><td>{{backend_password}}</td></tr>
<tr><th>Filesystem Passphrase:</th><td>{{fs_passphrase}}</td></tr>
