<div class="icon-block" name="system_user">
  <h4 class="center brown-text">
    {{#user.roles.user}}Configuration{{/user.roles.user}}
    {{#user.roles.admin}}System Users{{/user.roles.admin}}
    {{#system_users.method_name}}: {{system_users.method_name}}{{/system_users.method_name}}
  </h4>
  <div class="light" id="system_user-container">
    {{> system_user-list}}
  </div>
</div>
